*.so
*.o
*.pc
*#*
*.~undo-tree~
*~
*lo
*la
config.*
depcomp
install-sh
libtool
ltmain.sh
aclocal.m4
ar-lib
autom4te.cache
compile
configure
m4/
missing
Makefile
Makefile.in
src/.deps/
src/.libs/
stamp-h1
tests/test